

// Accordion
$accordion-button-padding-y:              1.325rem;
$accordion-button-focus-box-shadow:       #663C2A;
$accordion-button-active-bg:                 rgba(102, 60, 42, 90%);
$accordion-button-active-color:             #F9F871;
$accordion-border-color:                  #663C2A;
$accordion-icon-active-color:             #F9F871;

// Card
$card-height: 100%;

// gray-color-variables
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;


// Theme Color
$bg-color:  #663C2A;
$btn-color:  #F9F871;


$primary:       $bg-color;
$secondary:     $btn-color;


@import '../node_modules/bootstrap/scss/bootstrap.scss'