@use'../custom' as *;

.about-section{
    background: rgba($black, 10%);

    .container{
        padding: 0 1rem;

        .lg-title{
            display: none;
            color: $white;
            font-weight: 600;
            margin: 0 0 1rem;

            @include media-breakpoint-down(lg) {
                display: block;
            }
        }

        .about-container{

            .img-container{
                margin: 0 0 1rem 0;
            
                img{
                    width: 90%;
                    display: block;
                    margin: auto;

                    @include media-breakpoint-down(lg){
                       width: 100%;
                    }
                }
            }
    
            .about-text{
                color: $white;

                h1{
                    font-weight: 600;
                    margin: 0 0 1rem;

                    @include media-breakpoint-down(lg) {
                        display: none;
                    }
                }
    
                p{
                    font-size: 1rem;
                    line-height: 1.75rem;
                    margin: 0 0 2.5rem 0;
                }
    
                .rounded-btn-outline{
                    text-decoration: none;
                }
            }
        }
    }
}