@use '../custom' as *;

footer{
    background: #333333a4;
    padding: 1rem 0 .5rem;

    p{
        margin: 0;
        text-align: center;
        font-size: .75rem;
        padding: .5rem 0 0;
        border-top: 1px solid $gray-700;
    }

    .footer-section{
    
        .footer-content{
    
            .footer-link{
                
                .footer-brand{
                    color: $white;
                    font-weight: 700;
                    font-size: 2rem;
                    text-decoration: none;
        
                    span{
                        color: $secondary;
                    }
                }
                .contact{
                    color: $white;

                    i{
                        margin-left: .625rem;
                    }

                    span{
                        font-size: .875rem;
                    }

                }
            }
            
            .site-link{

                .footer-nav{
                    padding: 0;

                    .footer-nav-item{
                        list-style: none;

                        .footer-nav-link{
                            text-decoration: none;
                            color: $white;
                            font-size: .875rem;
                            
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            .social-link{
                ul{
                    padding: 0;

                    li{
                        list-style: none;

                        a{
                            text-decoration: none;
                            color: $white;
                            font-size: .875rem;

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            .other-link{

                ul{
                    padding: 0;

                    li{
                        list-style: none;

                        a{
                            text-decoration: none;
                            color: $white;
                            font-size: .875rem;
                            
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}