@use '../custom' as *;

.menu-section{

    .container{
        position: relative;

    }

    .menu-container{
        padding: 1rem 0 3rem;
        margin: 1rem 0;
        
        .menu-content{

            .menu-item{

                .menu-list{
                    display: flex;
                    justify-content: center;
                    align-items: center;                    

                    .card{
                        border: none;
                        background: $primary;
                        padding-bottom: 1rem;
                        transition: .2s ease-in-out;

                        &:hover {
                            transform: scale(1.1);
                        }

                        @include media-breakpoint-up(xs) {
                            width: 260px;
                        }
                        @include media-breakpoint-up(sm) {
                            width: 240px;
                        }
                        @include media-breakpoint-up(md) {
                            height: 360px;
                            width: 215px;
                        }
                        @include media-breakpoint-up(lg) {
                            width: 280px;
                        }

                        .image-container{
                            position: relative;

                            img{
                                @include media-breakpoint-up(xs) {
                                    height: 160px;
                                }
                                @include media-breakpoint-up(md) {
                                    height: 140px;
                                }
                                @include media-breakpoint-up(lg) {
                                    height: 160px;
                                }
                            }

                            .discount{
                                color: $primary;
                                font-size: .875rem;
                                background: $secondary;
                                font-size: 1rem;
                                font-weight: 600;
                                padding: .625rem 4px;
                                position: absolute;
                                top: 0;
                                right: .75rem;
                                border-bottom-right-radius: 1rem;
                            }

                            .price {
                                margin: 0;
                                padding: 0 .5rem;
                                color: $secondary;
                                position: absolute;
                                bottom: -.625rem;
                                border-radius: .75rem;
                                font-size: 1.125rem;
                                font-weight: 500;
                                background: $primary;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }

                        .card-text-area{
                            color: $white;
                            padding: .5rem;
                            height: 130px;

                            .card-title{
                                font-size: 18px;
                                font-weight: 500;
                                margin: .625rem 0 .5rem;

                            }

                            .card-text{
                                font-size: .875rem;

                            }

                        }
                    }
                    .rounded-btn{
                        width: 160px;
                        padding: .5rem 1rem;
                    }
                }
            }

            .swiper-pagination-bullet{
                background: $white;
                opacity: 1;
                
                &.swiper-pagination-bullet-active{
                    background: $secondary;
                }
                                
            }
        }
    }
    .see-all{
        display: block;
        margin: auto;
        width: 120px;
        text-align: center;
        text-decoration: none;
        color: $primary;
        
        &:hover {
            color: $secondary;
        }

    }
}