@use '../custom' as *;

.menu-section{

    .container{
       position: relative;

       .menu-container{
            text-align: center;
            padding: 1rem 0 2.5rem;

            .menu-content{

                @media screen and (max-width: 576px) {
                    width: 320px;
                    margin: 0 auto;
                    overflow: hidden;
                
                }

                .menu-item{
                    
                    .card{
                        border: none;

                        @include media-breakpoint-up(md) {
                            transition: all .2s ease-in-out; 

                            &:hover{
                                transform: scale(1.1);
                            }
                        }

                        .image-container{
                            position: relative;

                            img{
                                background-position: center;
                                background-size: cover;

                                @include media-breakpoint-up(xm) {
                                    height: 200px;
                                }
                                @include media-breakpoint-up(sm) {
                                    height: 160px;
                                }
                                @include media-breakpoint-up(xl) {
                                    height: 180px;
                                }
                                
                            }

                            span{
                                position: absolute;
                                top: .5rem;
                                right: .5rem;
                                background: $secondary;
                                padding: 0 6px;
                                border-radius: 4px;
                                font-weight: 500;
                                font-size: 1.125rem;
                            }
                        }

                        .card-body{
                            background: $primary;
                            color: $white;

                            .card-title{
                                font-weight: 600;
                            }

                            .card-text{
                                font-size: .875rem;
                            }
                        }
                    }
                }

                .swiper-pagination-bullet{
                    background: $white;
                    opacity: 1;

                    &.swiper-pagination-bullet-active{
                        background: $secondary;
                    }
                
                }
            }
       }
    }
}