@use '../custom' as *;

.about-page{
    
    .about-hero{
        background-image: linear-gradient(to right, rgba($black, 25%),rgba($black, 25%)), url(../../images/about/about-bg.jpg);
        background-size: cover;
        background-position: center;
        padding: 10rem 0;

        .hero-content{

            h1{
                margin: 0;
                color: $white;
                text-align: center;
                font-weight: 700;
                letter-spacing: 2px;
            }
        }
    }

    .story-section{
        padding: 0 1rem;

        .story-container{

            .story-wrapper{

                h1{
                    margin: 0 0 1.5rem;
                    color: $white;
                    font-weight: 600;
                    text-align: center;
                }
               
                .image-container{

                    img{
                        width: 100%;
                    }
                }
            }

            .text-area{
                margin: 0 0 0 2rem;
                
                @include media-breakpoint-down(md) {
                    margin: 0;
                }

                p{
                    color: $white;
                    padding: 4.5rem 0 0;
                    line-height: 1.75rem;

                    @include media-breakpoint-down(md) {
                        padding: 1rem 0;
                        margin: 0   ;
                    }

                }
            }
        }
    }

    .mission-section{
        background: rgba($black, 10%);
        padding: 0 1rem;

        .mission-container{

            .mission-wrapper{

                .text-area{
                    margin: 0 2rem 0 0;

                    @include media-breakpoint-down(md) {
                        margin: 0;
                    }

                    h1{
                        font-weight: 600;
                        margin: 0 0 1.5rem;
                        color: $white;
                        text-align: center;
                    }
                    p{
                        color: $white;
                        line-height: 1.75rem;
                    }
                }

                .image-container{

                    img{
                        width: 100%;
                    }
                }
            }
        }
    }

    .vision-section{
        padding: 0 1rem;
        .vision-container{

            .vision-wrapper{

                .image-container{
                    
                    @include media-breakpoint-down(md) {
                        order: 2;
                    }

                    img{
                        width: 100%;
                    }
                }
            }

            .text-area{
                margin: 0 0 0 2rem;

                @include media-breakpoint-down(md) {
                    margin: 0;
                    order: 1;
                }

                h1{
                    margin: 0 0 1.5rem;
                    color: $white;
                    font-weight: 600;
                    text-align: center;
                }

                p{
                    color: $white;
                    line-height: 1.75rem;
                }
            }
        }
    }

    .go-to-menu{
        background-image: linear-gradient(to right, rgba($black, 35%),rgba($black, 35%)), url(../../images/about/parallax-bg.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding: 5rem;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        

        .rounded-btn-lg{
            text-decoration: none;
        }
    }
}